.chatInput{
    border-radius: 50px;
    background-color: #fff;
}

.chatInput > form {
    position: relative;
    display: flex;
    justify-content: center;
}

.chatInput > form > input{
    position: fixed;
    bottom: 30px;
    width: 50%;
    border: 1px solid gray;
    border-radius: 50px;
    padding: 20px;
}

.chatInput >form > button{
    display: none !important;
}